.title{
    background: #eef3f9;
}
.form input{
    outline: none;
    background: snow;
    border-radius: 10px;
}
.btnLogin{
    border-radius: 10px;
}
.btnSignUp{
    border-radius: 10px;
}
.form i{
    cursor: pointer;
}