.title{
    background: #eef3f9;
}
.login{
    background: #3073c1;
}
.form input{
    outline: none;
    border: none;
    background: snow;
    border-radius: 10px;
}
.btnLogin{
    border-radius: 10px;
}
.login a{
    border-bottom: 1px solid snow;
}
.form i{
    cursor: pointer;
}